@font-face {
  font-family: woffFont;
  src: url(Typewriter-LAYy.woff);
}

.Q{
    width:50vw;
    border-bottom: solid grey 2px;
    background-color:bisque;
    border-radius: 30px;
    text-indent: 10px;
    min-width: 300px;
    text-align: center;
    font-family: woffFont;
}
.A{
    background-color: aliceblue;
    border-radius: 15px;
    padding: 10px;
}