body{
    display:flex;
    flex-direction: column;
    min-width: 375px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    flex: 0 80px;
}
main{
    flex: 1 calc(100vh - 110px);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
menu{
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
}
.navbar-brand{
    padding-left:0.3em;
    border-bottom: solid grey;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
menu .nav-item{
    padding: 0 0.3em;
}

.bg-yellow{
    background: #EBE1C3;
    padding: 1em;
    border-radius: 15px;
}
footer{
    flex: 0 30px;
}
@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}

.play-area{
    flex: 1;
    width: 100%;
    padding:75px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 0 0 auto;
    background: repeating-linear-gradient(
    45deg,
    #67bed9,
    #67bed9 10px,
    #2596be 10px,
    #2596be 20px
    );
}

.click-button{
    width: 150px;
    flex: 0 0 auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2px solid black;
    background: green;
}


.switch{
    margin-left: 1%;
    background-color: #EBE1C3;
    justify-self: start;
}

.below-play{
    display: grid;
    align-items: center;
    width:100%;
}

.text-center{
    color:darkblue;
    justify-self: start;
}

#stats-title{
    width: 20%;
    text-align: center;
    border-bottom:grey solid 3px;
    margin-bottom: 50px;
}


.base-center{
    text-align: center;
}

.updates{
    display: grid;
    text-align: center;
    list-style:none;
    justify-self: center;
    background:#EBE1C3;
    align-items: start;
    padding: 0;
    height: 30%;
    border-radius: 10px;
}

.player-name{
    align-self: start;
    text-align:start;
    margin-left: 0 auto;
    width: 100%;
    min-width: 200px;
}

.notification{
    list-style:none;
    padding: 1em;
}

.stats{
    width:100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}


table{
    border: solid black 2px;
    margin-left: 25%;
}
th{
    border: solid black 2px;
    border-bottom: solid black 5px;
    font-size: 200%;
    padding: 10px;
}
td{
    padding:10px;
    border:solid black 2px;
}


.graph{
    justify-content: center;
    margin-left: 10px;
}

