

@font-face {
  font-family: woffFont;
  src: url(Typewriter-LAYy.woff);
}

#body{
    flex: 1 calc(100vh - 110px);
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}

.Q{
    width:50%;
    border-bottom: solid grey 2px;
    background-color:bisque;
    border-radius: 30px;
    text-indent: 10px;
    min-width: 300px;
    text-align: center;
    font-family: woffFont;
}
.A{
    background-color: aliceblue;
    border-radius: 15px;
    padding: 10px;
    width: 75%;
}

#credit{
    border-top: solid grey 2px; 
    width:25%
}